<a href="https://colab.research.google.com/github/mirzanaeembeg/Python-Cheat-Sheet-ML-DL-AI/blob/main/1_Python_ML_DL_AI_Cheat_Sheet__Mirza_Naeem_Beg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Complete Python Cheat Sheet for Machine Learning, Deep Learning & AI

## Table of Contents
1. [Python Fundamentals](#1-python-fundamentals)
   - Covers core Python concepts like data types, control flow, functions, and more.
2. [NumPy - Numerical Computing](https://colab.research.google.com/drive/1qZFirXOdQtbtfCdJPtT9RU-FshLo9qLH?usp=sharing)
   - Focuses on array manipulation and mathematical operations using NumPy.
3. [Pandas - Data Manipulation](#3-pandas---data-manipulation)
   - Explores data structures and tools for data analysis with Pandas.
4. [Matplotlib & Seaborn - Data Visualization](#4-matplotlib--seaborn---data-visualization)
   - Guides you through creating visualizations with Matplotlib and Seaborn.
5. [Scikit-learn - Machine Learning](#5-scikit-learn---machine-learning)
   - Introduces machine learning algorithms and workflows using Scikit-learn.
6. [TensorFlow & Keras - Deep Learning](#6-tensorflow--keras---deep-learning)
   - Covers building and training neural networks with TensorFlow and Keras.
7. [PyTorch - Deep Learning](#7-pytorch---deep-learning)
   - Explores deep learning concepts and implementation using PyTorch.
8. [Data Preprocessing](#8-data-preprocessing)
   - Discusses techniques for cleaning, transforming, and preparing data.
9. [Model Evaluation & Metrics](#9-model-evaluation--metrics)
   - Explains how to evaluate model performance using various metrics.
10. [Advanced Topics](#10-advanced-topics)
    - Delves into more complex Python and ML concepts.
11. [Best Practices](#11-best-practices)
    - Provides tips and guidelines for writing efficient and readable code.
12. [Resources & Further Learning](#12-resources--further-learning)
    - Lists additional resources for continuing your learning journey.

* * *

# **1. Python Fundamentals** <a id="1-python-fundamentals"></a>
* * *
* * *
This section, `1.Python Fundamentals` provides a comprehensive overview of core [Python](https://docs.python.org/3/) concepts essential for beginners and as a refresher for those working in Machine Learning, Deep Learning, and AI.

Here's what is covered:

* **Print Statements and String Formatting:** Demonstrates various ways to display output and format strings using f-strings, `.format()`, and the older `%` formatting. It also includes examples of escape characters.
* **Lists - Creation and Basic Operations:** Introduces lists as mutable sequences, showing how to create them, check their properties (`type`, `len`, `sum`, `max`, `min`), and use boolean functions like `any()` and `all()`.
* **Range Function:** Explains the `range()` function for generating sequences of numbers, including examples with start, stop, and step arguments. It also shows common patterns like using `range()` for indexing.
* **List Iteration and Modification:** Covers different methods for iterating over lists (direct, index-based, and `enumerate`). It also shows how to modify list elements during iteration and introduces list slicing for accessing subsets of a list.
* **List Methods:** Details various built-in list methods for adding elements (`append`, `extend`, `insert`), removing elements (`count`, `index`, `remove`, `pop`), and modifying the list in-place (`reverse`, `sort`).
* **Enumerate Function:** Explains how `enumerate()` provides both the index and value during iteration, with examples of basic usage, custom start values, and converting the output to a list.
* **Zip Function:** Shows how `zip()` pairs elements from multiple iterables, demonstrating its use with two or more lists and explaining its behavior with lists of different lengths. It also includes an example of combining `enumerate` and `zip`.
* **Iterators:** Introduces the concept of iterators and how to create and use them with `iter()` and `next()`. It also shows how to use an iterator with a loop.
* **List Comprehensions:** Provides a concise way to create lists based on existing iterables. It covers basic syntax, conditions, complex expressions, temperature conversion examples, and nested list comprehensions.
* **Set Comprehensions:** Explains how to create sets using a similar concise syntax to list comprehensions, highlighting their use for generating unique elements.
* **Dictionary Comprehensions:** Shows how to create dictionaries efficiently using comprehensions, including examples with basic syntax, conditions, and working with dictionary methods like `.items()`, `.keys()`, and `.values()`.
* **Lambda Functions:** Introduces small, anonymous functions created with `lambda`. It covers basic syntax, use with built-in functions like `filter()` and `map()`, using lambda for sorting with `key`, and examples of higher-order functions.
* **Map and Filter Functions:** Details the `map()` function for applying a function to all items in an input list and the `filter()` function for constructing an iterator from elements of an iterable for which a function returns true.
* **Collections Module:** Introduces useful data structures from the `collections` module, specifically `Counter` for counting hashable objects and `DefaultDict` for handling missing keys gracefully.
* **String Templates:** Shows how to use `string.Template` for simple string substitutions, including basic usage and safe substitution to avoid errors with missing keys.
* **Tuples:** Explains tuples as immutable sequences, covering creation, unpacking, the importance of the comma for single-element tuples, and introducing `namedtuple` for creating easily readable data structures.
* **Advanced List Operations:** Provides examples of more complex list operations, including finding elements using comprehensions, and nested list comprehensions with `zip` and multiple conditions.
* **Practical Examples and Patterns:** Illustrates common data processing patterns using the concepts covered, such as processing paired data with `zip` and grouping/aggregating with `defaultdict`. It also shows string and list combinations.
* **Common Patterns and Best Practices:** Offers guidance on writing efficient and readable Python code, including tips for efficient iteration, choosing between lists, sets, and dictionaries, and using generators for memory efficiency.
* **Common Mistakes to Avoid:** Highlights potential pitfalls, such as mutable default arguments, modifying a list while iterating over it, and understanding variable scope in comprehensions.

## This section provides a solid foundation in Python's core features, which are essential building blocks for more advanced topics in machine learning and data science.

## 1.1 Print Statements and String Formatting
---

### Basic Print Statements

In [ ]:
x = 10
print(f'The value of x is {x}')        # f-string formatting
print('The value of x is', x)          # comma-separated
print('x = ' + str(x))                 # string concatenation

The value of x is 10
The value of x is 10
x = 10

### Multiple Variables

In [ ]:
x, y = 10, 20
print('x =', x, 'y =', y)                  # comma-separated
print(f'x = {x} y = {y}')                  # f-string
print('x = ' + str(x) + ' y = ' + str(y))  # concatenation

x = 10 y = 20
x = 10 y = 20
x = 10 y = 20

### String Formatting Methods

In [ ]:
# f-strings (Python 3.6+) - Recommended
name, age = "Alice", 25
print(f"Hello {name}, you are {age} years old")

# .format() method
print("Hello {}, you are {} years old".format(name, age))
print("Hello {0}, you are {1} years old".format(name, age))

# % formatting (older style)
print("Hello %s, you are %d years old" % (name, age))

Hello Alice, you are 25 years old
Hello Alice, you are 25 years old
Hello Alice, you are 25 years old
Hello Alice, you are 25 years old

### Escape Characters

In [ ]:
print("Hello World\n")                  # newline
print("Hello\tWorld")                   # tab
print("He said \"Hello\"")              # escaped quotes

Hello World

Hello	World
He said "Hello"

## 1.2 Lists - Creation and Basic Operations
---

### List Creation

In [ ]:
# Different data types in lists
mixed_list = [1, 2, 3, 4, 'string', 2.222]
numbers = [1, 5, 9, 55, 4545]
empty_list = []
print(mixed_list)
print(numbers)
print(empty_list)

[1, 2, 3, 4, 'string', 2.222]
[1, 5, 9, 55, 4545]
[]

### List Properties

In [ ]:
my_list = [1, 2, 3, 4]
print(type(my_list))                    # <class 'list'>
print(len(my_list))                     # 4
print(sum(my_list))                     # 10
print(max(my_list))                     # 4
print(min(my_list))                     # 1

<class 'list'>
4
10
4
1

### Boolean Functions on Lists

In [ ]:
list1 = [1, 0, 3, 1, 0, 2]
print(any(list1))                       # True (any non-zero)
print(all(list1))                       # False (contains zeros)

list2 = [1, 2, 3, 4, 5]
print(all(list2))                       # True (all non-zero)

True
False
True

## 1.3 Range Function

### Basic Range Usage

In [ ]:
print(list(range(5)))                          # [0, 1, 2, 3, 4]
print(list(range(1, 6)))                       # [1, 2, 3, 4, 5]
print(list(range(1, 11, 2)))                   # [1, 3, 5, 7, 9] (step=2)
print(list(range(10, 0, -1)))                  # [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
print(list(range(-10, 0, 2)))                  # [-10, -8, -6, -4, -2]

[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[-10, -8, -6, -4, -2]

### Common Range Patterns

In [ ]:
# For indexing
my_list = ['a', 'b', 'c', 'd']
for i in range(len(my_list)):
    print(f"Index {i}: {my_list[i]}")

Index 0: a
Index 1: b
Index 2: c
Index 3: d

## 1.4 List Iteration and Modification

---

### Iterating Over Lists

In [ ]:
# Method 1: Direct iteration
fruits = ['apple', 'banana', 'orange']
for fruit in fruits:
    print(fruit)

# Method 2: Index-based iteration
for i in range(len(fruits)):
    print(f"{i}: {fruits[i]}")

# Method 3: Using enumerate (preferred for index + value)
for index, fruit in enumerate(fruits):
    print(f"{index}: {fruit}")

apple
banana
orange
0: apple
1: banana
2: orange
0: apple
1: banana
2: orange

### Modifying Lists During Iteration

In [ ]:
# Add 2 to each element
for i in range(len(numbers)):
    numbers[i] += 2
print(numbers)  # [3, 4, 5, 6, 7]

[3, 7, 11, 57, 4547]

### List Slicing

In [ ]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(my_list[2:5])                     # [2, 3, 4]
print(my_list[:3])                      # [0, 1, 2]
print(my_list[3:])                      # [3, 4, 5, 6, 7, 8, 9]
print(my_list[::2])                     # [0, 2, 4, 6, 8] (every 2nd)
print(my_list[::-1])                    # [9, 8, 7, 6, 5, 4, 3, 2, 1, 0] (reverse)
print(my_list[::-2])                    # [9, 7, 5, 3, 1] (reverse every 2nd)

[2, 3, 4]
[0, 1, 2]
[3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 7, 5, 3, 1]

## 1.5 List Methods

### Adding Elements

In [ ]:
x = [1, 2, 3]

# append() - adds single element
x.append(4)                             # [1, 2, 3, 4]
x.append([5, 6])                        # [1, 2, 3, 4, [5, 6]]
print(x)

# extend() - adds multiple elements
y = [1, 2, 3]
y.extend([4, 5])                        # [1, 2, 3, 4, 5]
y.extend((6, 7))                        # [1, 2, 3, 4, 5, 6, 7] (works with tuples)
print(y)

# insert() - adds element at specific position
z = [1, 2, 3]
z.insert(1, 'inserted')                 # [1, 'inserted', 2, 3]
print(z)

[1, 2, 3, 4, [5, 6]]
[1, 2, 3, 4, 5, 6, 7]
[1, 'inserted', 2, 3]

### Other Useful List Methods

In [ ]:
my_list = [1, 2, 3, 2, 4, 2]

# Count occurrences
print(my_list.count(2))                 # 3

# Find index of first occurrence
print(my_list.index(3))                 # 2

# Remove elements
my_list.remove(2)                       # Removes first occurrence of 2
popped = my_list.pop()                  # Removes and returns last element
popped_at_index = my_list.pop(1)        # Removes and returns element at index 1

# Reverse and sort
my_list.reverse()                       # Reverses in-place
my_list.sort()                          # Sorts in-place
my_list.sort(reverse=True)              # Sorts in descending order

3
2

## 1.6 Enumerate Function

---

### Basic Enumerate

In [ ]:
days = ["Mon", "Tue", "Wed", "Thu", "Fri"]

# Default start at 0
for index, day in enumerate(days):
    print(f"{index}: {day}")

# Custom start value
for index, day in enumerate(days, start=1):
    print(f"Day {index}: {day}")

# Convert to list
indexed_days = list(enumerate(days, start=10))
print(indexed_days)  # [(10, 'Mon'), (11, 'Tue'), ...]

0: Mon
1: Tue
2: Wed
3: Thu
4: Fri
Day 1: Mon
Day 2: Tue
Day 3: Wed
Day 4: Thu
Day 5: Fri
[(10, 'Mon'), (11, 'Tue'), (12, 'Wed'), (13, 'Thu'), (14, 'Fri')]

### Practical Enumerate Usage

In [ ]:
numbers = [10, 11, 20, 23, 30, 40]

for i, num in enumerate(numbers):
    if num % 2 == 0:
        print(f"Index {i}: {num} is even")
    else:
        print(f"Index {i}: {num} is odd")

Index 0: 10 is even
Index 1: 11 is odd
Index 2: 20 is even
Index 3: 23 is odd
Index 4: 30 is even
Index 5: 40 is even

## 1.7 Zip Function

---

### Basic Zip Usage

In [ ]:
names = ['Alice', 'Bob', 'Charlie']
ages = [25, 30, 35]
scores = [85, 92, 78]

# Zip two lists
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

# Zip multiple lists
for name, age, score in zip(names, ages, scores):
    print(f"{name} ({age}) scored {score}")

# Convert to list
paired = list(zip(names, ages))
print(paired)  # [('Alice', 25), ('Bob', 30), ('Charlie', 35)]

Alice is 25 years old
Bob is 30 years old
Charlie is 35 years old
Alice (25) scored 85
Bob (30) scored 92
Charlie (35) scored 78
[('Alice', 25), ('Bob', 30), ('Charlie', 35)]

### Zip with Different Length Lists

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = ['a', 'b', 'c']

# Zip stops at shortest list
result = list(zip(list1, list2))
print(result)  # [(1, 'a'), (2, 'b'), (3, 'c')]

[(1, 'a'), (2, 'b'), (3, 'c')]

### Combining Enumerate and Zip

In [ ]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

for i, (num, letter) in enumerate(zip(list1, list2)):
    print(f"Index {i}: {num} -> {letter}")

Index 0: 1 -> a
Index 1: 2 -> b
Index 2: 3 -> c

## 1.8 Iterators

---

### Creating and Using Iterators

In [ ]:
days = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

# Create iterator
day_iter = iter(days)

# Get next elements
print(next(day_iter))                   # Sun
print(next(day_iter))                   # Mon
print(next(day_iter))                   # Tue

# Safe next with default value
print(next(day_iter, "No more days"))

Sun
Mon
Tue
Wed

### Iterator with Loop

In [ ]:
days = ["Sun", "Mon", "Tue", "Wed"]
day_iter = iter(days)

while True:
    day = next(day_iter, None)
    if day is None:
        break
    print(day)

Sun
Mon
Tue
Wed

## 1.9 List Comprehensions

---

### Basic List Comprehensions

In [ ]:
# Basic syntax: [expression for item in iterable]
squares = [x**2 for x in range(1, 6)]
print(squares)  # [1, 4, 9, 16, 25]

# With condition: [expression for item in iterable if condition]
evens = [x for x in range(1, 11) if x % 2 == 0]
print(evens)  # [2, 4, 6, 8, 10]

# Complex expressions
numbers = [1, 2, 3, 4, 5]
result = [x**2 if x % 2 == 0 else x**3 for x in numbers]
print(result)  # [1, 4, 27, 16, 125]

[1, 4, 9, 16, 25]
[2, 4, 6, 8, 10]
[1, 4, 27, 16, 125]

### Temperature Conversion Example

In [ ]:
celsius = [0, 10, 20, 30, 40]
fahrenheit = [(temp * 9/5) + 32 for temp in celsius]
print(fahrenheit)  # [32.0, 50.0, 68.0, 86.0, 104.0]

# With condition
fahrenheit_filtered = [(temp * 9/5) + 32 for temp in celsius if temp > 10]
print(fahrenheit_filtered)  # [68.0, 86.0, 104.0]

[32.0, 50.0, 68.0, 86.0, 104.0]
[68.0, 86.0, 104.0]

### Nested List Comprehensions

In [ ]:
# Create a 3x3 matrix
matrix = [[i*j for j in range(1, 4)] for i in range(1, 4)]
print(matrix)  # [[1, 2, 3], [2, 4, 6], [3, 6, 9]]

# Flatten a matrix
flattened = [num for row in matrix for num in row]
print(flattened)  # [1, 2, 3, 2, 4, 6, 3, 6, 9]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]
[1, 2, 3, 2, 4, 6, 3, 6, 9]

## 1.10 Set Comprehensions

---

### Basic Set Comprehensions

In [ ]:
# Basic set comprehension
numbers = [1, 2, 2, 3, 3, 4, 5]
unique_squares = {x**2 for x in numbers}
print(unique_squares)  # {1, 4, 9, 16, 25}

# Set from string (unique characters)
text = "hello world"
unique_chars = {c.upper() for c in text if not c.isspace()}
print(unique_chars)  # {'H', 'E', 'L', 'O', 'W', 'R', 'D'}

{1, 4, 9, 16, 25}
{'L', 'H', 'O', 'W', 'D', 'R', 'E'}

### Temperature Set Example

In [ ]:
celsius_temps = [5, 10, 12, 14, 10, 23, 41, 30, 12, 24, 12, 18, 29]
fahrenheit_set = {(temp * 9/5) + 32 for temp in celsius_temps}
print(len(fahrenheit_set))  # Number of unique Fahrenheit temperatures

10

## 1.11 Dictionary Comprehensions

---

### Basic Dictionary Comprehensions

In [ ]:
# Basic syntax: {key_expr: value_expr for item in iterable}
squares_dict = {x: x**2 for x in range(1, 6)}
print(squares_dict)  # {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

# Temperature conversion dictionary
celsius = [0, 10, 20, 30, 40]
temp_dict = {c: (c * 9/5) + 32 for c in celsius}
print(temp_dict)  # {0: 32.0, 10: 50.0, 20: 68.0, 30: 86.0, 40: 104.0}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{0: 32.0, 10: 50.0, 20: 68.0, 30: 86.0, 40: 104.0}

### Dictionary Comprehension with Conditions

In [ ]:
# Filter dictionary
original_dict = {"NFLX": 4950, "TREX": 2400, "FIZZ": 1800, "XPO": 1700}
filtered_dict = {k: v for k, v in original_dict.items() if v > 2000}
print(filtered_dict)  # {'NFLX': 4950, 'TREX': 2400}

{'NFLX': 4950, 'TREX': 2400}

### Working with Dictionary Methods

In [ ]:
sample_dict = {'a': 1, 'b': 2, 'c': 3}

# Iterate over dictionary
for key, value in sample_dict.items():
    print(f"{key}: {value}")

# Get keys and values
print(list(sample_dict.keys()))     # ['a', 'b', 'c']
print(list(sample_dict.values()))   # [1, 2, 3]

a: 1
b: 2
c: 3
['a', 'b', 'c']
[1, 2, 3]

## 1.12 Lambda Functions

---

### Basic Lambda Syntax

In [ ]:
# Basic lambda: lambda arguments: expression
add = lambda x, y: x + y
print(add(5, 3))  # 8

# Single argument
square = lambda x: x**2
print(square(4))  # 16

# Multiple arguments
multiply = lambda x, y, z: x * y * z
print(multiply(2, 3, 4))  # 24

8
16
24

### Lambda with Built-in Functions

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter with lambda
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)  # [2, 4, 6, 8, 10]

# Map with lambda
squares = list(map(lambda x: x**2, numbers))
print(squares)  # [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Multiple outputs with map
cubes_and_squares = list(map(lambda x: (x**2, x**3), [1, 2, 3, 4]))
print(cubes_and_squares)  # [(1, 1), (4, 8), (9, 27), (16, 64)]

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[(1, 1), (4, 8), (9, 27), (16, 64)]

### Lambda for Sorting

In [ ]:
# Sort by second element
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda x: x[1])  # Sort by string value
print(pairs)

# Sort by first element in reverse
pairs.sort(key=lambda x: x[0], reverse=True)
print(pairs)

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]
[(4, 'four'), (3, 'three'), (2, 'two'), (1, 'one')]

### Higher-Order Functions with Lambda

In [ ]:
def make_incrementor(n):
    return lambda x: x + n

increment_by_5 = make_incrementor(5)
print(increment_by_5(10))  # 15

15

## 1.13 Map and Filter Functions

---

### Map Function

In [ ]:
# Apply function to each element
numbers = [1, 2, 3, 4, 5]
doubled = list(map(lambda x: x * 2, numbers))
print(doubled)  # [2, 4, 6, 8, 10]

# Map with multiple iterables
list1 = [1, 2, 3]
list2 = [4, 5, 6]
sums = list(map(lambda x, y: x + y, list1, list2))
print(sums)  # [5, 7, 9]

[2, 4, 6, 8, 10]
[5, 7, 9]

### Filter Function

In [ ]:
# Filter elements based on condition
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
evens = list(filter(lambda x: x % 2 == 0, numbers))
print(evens)  # [2, 4, 6, 8, 10]

# Filter strings by length
words = ['python', 'java', 'c', 'javascript', 'go']
long_words = list(filter(lambda word: len(word) > 4, words))
print(long_words)  # ['python', 'javascript']

[2, 4, 6, 8, 10]
['python', 'javascript']

## 1.14 Collections Module

---

### Counter

In [ ]:
from collections import Counter

# Count occurrences
text = "hello world"
char_count = Counter(text)
print(char_count)  # Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})

# Most common elements
print(char_count.most_common(3))  # [('l', 3), ('o', 2), ('h', 1)]

# Counter operations
list1 = ['a', 'b', 'c', 'a', 'b', 'a']
list2 = ['a', 'b', 'b', 'd']
c1 = Counter(list1)
c2 = Counter(list2)

print(c1 + c2)  # Add counters
print(c1 - c2)  # Subtract counters
print(c1 & c2)  # Intersection (minimum counts)
print(c1 | c2)  # Union (maximum counts)

Counter({'l': 3, 'o': 2, 'h': 1, 'e': 1, ' ': 1, 'w': 1, 'r': 1, 'd': 1})
[('l', 3), ('o', 2), ('h', 1)]
Counter({'a': 4, 'b': 4, 'c': 1, 'd': 1})
Counter({'a': 2, 'c': 1})
Counter({'b': 2, 'a': 1})
Counter({'a': 3, 'b': 2, 'c': 1, 'd': 1})

### DefaultDict

In [ ]:
from collections import defaultdict

# Default dictionary with default values
dd = defaultdict(int)  # Default value is 0
dd['existing'] = 5
print(dd['existing'])     # 5
print(dd['non_existing']) # 0 (default)

# Default dictionary with lambda
dd_lambda = defaultdict(lambda: "Not found")
dd_lambda['key1'] = "Found"
print(dd_lambda['key1'])        # Found
print(dd_lambda['unknown'])     # Not found

# Grouping with defaultdict
from collections import defaultdict
students = [('Alice', 'Math'), ('Bob', 'Physics'), ('Alice', 'Chemistry'), ('Bob', 'Math')]
subjects_by_student = defaultdict(list)

for student, subject in students:
    subjects_by_student[student].append(subject)

print(dict(subjects_by_student))  # {'Alice': ['Math', 'Chemistry'], 'Bob': ['Physics', 'Math']}

5
0
Found
Not found
{'Alice': ['Math', 'Chemistry'], 'Bob': ['Physics', 'Math']}

## 1.15 String Templates

---

### Basic Templates

In [ ]:
from string import Template

# Basic template
template = Template("Hello $name, welcome to $place!")
result = template.substitute(name="Alice", place="Python")
print(result)  # Hello Alice, welcome to Python!

# Template with dictionary
data = {"name": "Bob", "age": 30, "city": "New York"}
template = Template("$name is $age years old and lives in $city")
result = template.substitute(data)
print(result)  # Bob is 30 years old and lives in New York

Hello Alice, welcome to Python!
Bob is 30 years old and lives in New York

### Safe Substitution

In [ ]:
template = Template("Hello $name, you have $count messages")
# safe_substitute won't raise error for missing keys
result = template.safe_substitute(name="Alice")
print(result)  # Hello Alice, you have $count messages

Hello Alice, you have $count messages

## 1.16 Tuples

---

### Tuple Basics

In [ ]:
# Tuple creation
coordinates = (10, 20)
colors = ('red', 'green', 'blue')
mixed = (1, 'hello', 3.14, True)

# Tuple unpacking
x, y = coordinates
print(f"x={x}, y={y}")  # x=10, y=20

# Tuple with one element (note the comma)
single = (42,)
print(type(single))  # <class 'tuple'>

x=10, y=20
<class 'tuple'>

### Tuple Immutability

In [ ]:
point = (3, 4)
# point[0] = 5  # This would raise an error - tuples are immutable

# But you can reassign the variable
point = (5, 6)  # This is allowed

### Named Tuples

In [ ]:
from collections import namedtuple

# Create a named tuple
Point = namedtuple('Point', ['x', 'y'])
p = Point(3, 4)
print(p.x, p.y)  # 3 4
print(p[0], p[1])  # 3 4 (still accessible by index)

# Named tuple with methods
Student = namedtuple('Student', ['name', 'age', 'grade'])
student = Student('Alice', 20, 'A')
print(student.name)  # Alice

3 4
3 4
Alice

## 1.17 Advanced List Operations

### Finding Elements

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15]

# Find numbers containing digit '3'
contains_three = [i for i in range(1, 1000) if '3' in str(i)]
print(contains_three[:10])  # First 10 numbers containing '3'

# Find multiples of 7
multiples_of_seven = [i for i in range(1, 100) if i % 7 == 0]
print(multiples_of_seven)

# Count spaces in string
text = "Hello world this is Python"
space_count = len([char for char in text if char == ' '])
print(space_count)  # 4

[3, 13, 23, 30, 31, 32, 33, 34, 35, 36]
[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]
4

### Complex List Comprehensions

In [ ]:
# Nested comprehensions with zip
base = [5, 10, 15, 20, 25]
height = [5, 4, 5, 5, 4]
areas = [0.5 * b * h for b, h in zip(base, height)]
print(areas)  # [12.5, 20.0, 37.5, 50.0, 50.0]

# Multiple conditions
numbers = range(1, 101)
filtered = [x for x in numbers if x % 3 == 0 and x % 5 == 0]
print(filtered)  # Multiples of both 3 and 5

[12.5, 20.0, 37.5, 50.0, 50.0]
[15, 30, 45, 60, 75, 90]

## 1.18 Practical Examples and Patterns

---

### Data Processing Patterns

In [ ]:
# Process paired data
names = ['Alice', 'Bob', 'Charlie']
scores = [85, 92, 78]

# Create grade report
grade_report = [(name, score, 'Pass' if score >= 80 else 'Fail')
                for name, score in zip(names, scores)]
print(grade_report)

# Group and aggregate
from collections import defaultdict
sales_data = [('Jan', 100), ('Feb', 150), ('Jan', 200), ('Mar', 175), ('Feb', 125)]
monthly_sales = defaultdict(int)

for month, amount in sales_data:
    monthly_sales[month] += amount

print(dict(monthly_sales))  # {'Jan': 300, 'Feb': 275, 'Mar': 175}

[('Alice', 85, 'Pass'), ('Bob', 92, 'Pass'), ('Charlie', 78, 'Fail')]
{'Jan': 300, 'Feb': 275, 'Mar': 175}

### String and List Combinations

In [ ]:
# Combine letters and numbers
letters = ['a', 'b', 'c']
numbers = [1, 2, 3]
decimals = [0.1, 0.2, 0.3]

combined = [f"{letter}{num}{dec}" for letter, num, dec in zip(letters, numbers, decimals)]
print(combined)  # ['a10.1', 'b20.2', 'c30.3']

['a10.1', 'b20.2', 'c30.3']

## 1.19 Common Patterns and Best Practices

---

### Efficient Iteration

In [ ]:
# Instead of range(len(list))
items = ['apple', 'banana', 'cherry']

# Good: Direct iteration when you don't need index
for item in items:
    print(item)

# Good: Use enumerate when you need both index and value
for i, item in enumerate(items):
    print(f"{i}: {item}")

# Good: Use zip for multiple lists
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
for num, letter in zip(list1, list2):
    print(f"{num}: {letter}")

apple
banana
cherry
0: apple
1: banana
2: cherry
1: a
2: b
3: c

### List vs Set vs Dictionary Choice

In [ ]:
# Use list for ordered data that allows duplicates
scores = [85, 92, 78, 85, 90]
print(scores)

# Use set for unique items
unique_scores = {85, 92, 78, 90}
print(unique_scores)

# Use dictionary for key-value mapping
student_scores = {'Alice': 85, 'Bob': 92, 'Charlie': 78}
print(student_scores)

[85, 92, 78, 85, 90]
{90, 92, 85, 78}
{'Alice': 85, 'Bob': 92, 'Charlie': 78}

### Memory Efficient Operations

In [ ]:
# Use generators for large datasets
def squares_generator(n):
    for i in range(n):
        yield i**2

# Generator expression (like list comprehension but memory efficient)
squares_gen = (x**2 for x in range(1000000))  # Won't create all at once

# Convert to list only when needed
first_ten_squares = list(squares_gen)[:10]
print(first_ten_squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 1.20 Common Mistakes to Avoid

---

### Mutable Default Arguments

In [ ]:
# Bad
def add_item(item, target_list=[]):
    target_list.append(item)
    return target_list

# Good
def add_item(item, target_list=None):
    if target_list is None:
        target_list = []
    target_list.append(item)
    return target_list

### Modifying List While Iterating

In [ ]:
numbers = [1, 2, 3, 4, 5]

# Bad - can cause issues
# for num in numbers:
#     if num % 2 == 0:
#         numbers.remove(num)

# Good - iterate over a copy
for num in numbers[:]:  # Slice creates a copy
    if num % 2 == 0:
        numbers.remove(num)

# Better - use list comprehension
numbers = [num for num in numbers if num % 2 != 0]

### Understanding Variable Scope

In [ ]:
# Be careful with variable scope in comprehensions
x = 10
squares = [x**2 for x in range(5)]  # x in comprehension is local
print(x)  # Still 10, not affected by comprehension

10

---

## Quick Reference Summary

### Essential Functions
- `len()`, `sum()`, `min()`, `max()`, `any()`, `all()`
- `range()`, `enumerate()`, `zip()`
- `map()`, `filter()`, `sorted()`

### String Methods
- `.format()`, f-strings, `.join()`, `.split()`
- `.strip()`, `.replace()`, `.upper()`, `.lower()`

### List Methods
- `.append()`, `.extend()`, `.insert()`, `.remove()`, `.pop()`
- `.sort()`, `.reverse()`, `.count()`, `.index()`

### Dictionary Methods
- `.keys()`, `.values()`, `.items()`, `.get()`, `.update()`

### Comprehension Syntax
- List: `[expr for item in iterable if condition]`
- Set: `{expr for item in iterable if condition}`
- Dict: `{key_expr: val_expr for item in iterable if condition}`

---

---
**`Mirza Naeem Beg`**<br>
`Final Year UG Student,`<br>
`Dept. of CSE,` [**`AUST`**](https://aust.edu/)

[`Learn more about me;`](https://mirzanaeembeg.github.io/)
---
---
---